* {
  font-family:'Open Sans' ; /* Change your font family */
}
.easy{
  color:#5cb85c;
  font-weight:bold;
  text-align: center;
}
.medium{
  color:#f0ad4e;
  font-weight:bold;
  text-align: center;
}
.hard{
  color:#d9534f;
  font-weight:bold;
  text-align: center;
}
a{
  color: inherit;
}
a:hover{
  color: #009879;
}
.content-table tbody tr:hover *{
  background-color: #ccc;
}
.content-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  width: 100%;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
 a{
  text-decoration-color: #fffff;
  text-decoration-line: none;

}
.center{
  text-align: center;
}
.content-table thead tr {
  background-color: #f6ffb3;
  color: #242424;
  font-weight: 400;
  text-align: left;
  font-weight: bold;
}

.content-table th,
.content-table td {
  padding: 12px 15px;
}

.content-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.content-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.content-table tbody tr:last-of-type {
  border-bottom: 2px solid #e9ff42;
}

.content-table tbody tr.active-row {
  font-weight: bold;
  color: #009879;
}
